*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:block;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    /*background-color:steelblue;*/
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
#app {
/*    width:100%;*/
/*    height:100%*/
/*    display:flex;*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    display:flex;
}
#tasks {
    list-style-type: none;
    padding:0;
    text-align: center;
}
.task {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 25px ;
    text-align: center;

}
.completed {
    text-decoration: line-through;
    color: #888;
}
.delete-btn {
    cursor: pointer;
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}
img{
    border-radius: 50%;
    height: 70px;
    padding: 10px;
    margin-left: 15px;
}
.l1{
    display: flex;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.l2{

    height:100%;
    margin:auto;
    border-radius: 5%;
    background-color: white;
    padding: 40px;
    width:295px;
}
.l3{
    display:block;
    width:100%;
}
.box{
    height:40px;
    width:40px;
    background-color:whitesmoke;
    border-radius: 5%;
}
